---
import type { CollectionEntry } from "astro:content";
import PageLayout from "./PageLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDateTime, updatedDate, heroImage } = Astro.props;
---

<PageLayout
  title={title}
  description={description}
  pubDateTime={pubDateTime}
  updatedDate={updatedDate}
  heroImage={heroImage}
>
  <article></article>
  <h1
    class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
  >
    {title}
  </h1>
  Published on
  <FormattedDate date={pubDateTime} />
  {
    updatedDate && (
      <div class="inline">
        , last updated on <FormattedDate date={updatedDate} />
      </div>
    )
  }
  <hr />
  <slot />
</PageLayout>
