---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Section from "../../components/containers/Section.astro";
import SpeakerUl from "../../components/partials/SpeakerUl.astro";
import FormattedDate from "../../components/partials/FormattedDate.astro";
import Card from "../../components/partials/Card.astro";

const speakingSlots = await getCollection("speaking");
const lastConferenceSlot = speakingSlots.reduce((prev, current) => (prev.data.date > current.data.date) ? prev : current);

---

<Layout
    title="I speak at events, share my insights and learn from others"
    description="I speak at events, share my insights and learn from others."
    pubDateTime={new Date("1 March 2023")}
    updatedDate={lastConferenceSlot.data.date}
    heroImage="/placeholder-hero.png"
>
  I'm passionate about open-source, green software, and Microsoft AI: you can find here previous conference talks, media mentions, and other speaking engagements.
  <div class="not-prose">
  <Section title="Recent events and activities" class="mt-10">
    <SpeakerUl>
      {speakingSlots.map((slot) => (
          <li key={slot.data.title} class="mb-4">
            <Card url={slot.data.url} cta={slot.data.cta}>
              <FormattedDate date={slot.data.date} slot="title"/>
              <a href={slot.data.url} class="text-base font-semibold text-gray-900 hover:text-gray-600 hover:underline">
                {slot.data.title}
              </a>

              {slot.data.blogPostSlug && (
                    <a href={'blog/' + slot.data.blogPostSlug}>Related blog post here.</a>)}
              <span slot="bottom-left">{slot.data.eventType}</span>
              <p class="mt-2 text-sm text-gray-500">{slot.data.event}</p>
            </Card>
          </li>
      ))}
    </SpeakerUl>
  </Section>
</div>
</Layout>